<p>
  <a href='https://drboolean.gitbooks.io/mostly-adequate-guide/content/ch2.html'>BOOK MOST ADEQUATE GUIDE TO FUNCTIONAL PROGRAMMING USING JS</a>
</p>
<p>
  Entry point for functional programming with javascript learning test code 
</p>
<p><br/><button type="button" (click)="executeCodeBookSnipet1()" class="btn btn-primary btn-sm"> Execute Snipet 1! </button></p>
<p><br/><button type="button" (click)="executeCodeBookSnipet2()" class="btn btn-primary btn-sm"> Execute Snipet 2s! </button></p>
  

